.Search {
  @include make-flex($just: flex-end);
  position: relative;
  &__OptionBox {
    position: absolute;
    top: 40px;
    left: 0;
    @include make-flex($align: flex-start);
    @include box($height: auto);
    padding: 8px;
    gap: 8px;
    background-color: #fff;
    border: 1.5px solid #d5dae1;
    border-radius: 7px;

    &--item {
      list-style: none;
      @include make-flex($align: flex-start);
      padding: 0 8px;
      border-radius: 4px;
      @include box($height: 25px);
      &:hover {
        cursor: pointer;
        background-color: #f5f5f5;
      }
    }
  }
}
